.Meme {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--loading {
    align-items: center;
    justify-content: center;
  }

  &__github {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 2rem;

    > span:not(:first-child) {
      margin-left: .5rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin: 0 1rem 0 0;
  }

  &__heading {
    align-items: center;
    display: flex;
    margin: 1rem 0 2rem;
  }

  &__updated {
    font-size: .95rem;
    font-style: italic;
    margin-left: auto;
  }

  &__search {
    margin-bottom: 2.5rem;

    .form-control {
      &:focus {
        box-shadow: none;
      }
    }

    &-label {
      font-style: italic;
      margin: 1rem 0 0;
      text-align: right;
    }
  }

  &__body {
    flex: 1 1 auto;
  }

  &__item {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 1.85rem;
    padding: 1rem 1rem 2rem;
    position: relative;
    width: 100%;
  }

  &__img {
    margin-bottom: 0.5rem;
    max-width: 100%;
    transition: all .2s ease;

    &:hover {
      opacity: .85;
    }
  }

  &__sub {
    font-size: 0.9rem;
    margin-bottom: .5rem;
    word-break: break-all;
  }

  &__copy {
    align-items: center;
    background: #fff;
    border-bottom-right-radius: 8px;
    border-left: 1px solid rgba(10, 10, 10, .1);
    border-top: 1px solid rgba(10, 10, 10, .1);
    border-top-left-radius: 8px;
    bottom: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 6px;
    position: absolute;
    right: 0;
    transition: all .25s ease;
    z-index: 1;

    &:hover {
      background: #eee;
    }
  }

  &__footer {
    flex-shrink: 0;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    text-align: right;
  }

  &__alert.alert {
    align-items: center;
    display: flex;
    margin: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;

    svg {
      fill: #155724;
      flex-shrink: 0;
      margin-left: .5rem;
    }
  }
}

.lds-ring {
  display: inline-block;
  height: 80px;
  position: relative;
  width: 80px;
}

.lds-ring div {
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 8px solid #007bff;
  border-color: #007bff transparent transparent transparent;
  border-radius: 50%;
  height: 64px;
  margin: 8px;
  position: absolute;
  width: 64px;

  &:nth-child(1) {
    animation-delay: -0.45s;
  }

  &:nth-child(2) {
    animation-delay: -0.3s;
  }

  &:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
